.backhome1 {
    background-image: url(../../image/pexels-goumbik-574077.jpg);
    background-size: cover;
    background-Position: 'center',
}


.backhome {
    background-image: url(../../image/programming-website.jpg);
    background-size: cover;
    background-Position: 'center',
}
