.mock {
    background-image: url(../../image/pexels-cottonbro-6804581.jpg);
    background-size: cover;
    background-Position: 'center';
}

.mock2 {
    background-image: url(../../image/pexels-nguyendesigner-13162094.jpg);
    background-size: cover;
    background-Position: 'center';
}


